<IfModule mod_rewrite.c>
    RewriteEngine On
    # ส่ง request หน้าแรกไปที่ public/
    RewriteRule ^$ public/ [L]
    # ส่ง request อื่นๆ ทั้งหมดไปที่ public/
    RewriteRule (.*) public/$1 [L]
</IfModule>